---
swagger: '2.0'
info:
  description: Official Checkbox.ai developer API docs and guides
  version: 1.0.0
  title: Checkbox RESTful API
  termsOfService: https://www.checkbox.ai/legal/eula
  contact:
    email: devs@checkbox.ai
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
externalDocs:
  description: Find out more about Checkbox.ai
  url: https://checkbox.ai
host: app.checkbox.ai
basePath: /restapi/v1
tags:
- name: assessment
  description: Operations on Assessment
schemes:
- https
paths:
  /assessments:
    post:
      tags:
      - assessment
      summary: Create a new assessment
      operationId: addAssessment
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: reqId
        required: true
        type: string
        description: Unique request generated for API calls to track
      - in: body
        name: body
        description: Assessment object required
        required: true
        schema:
          $ref: '#/definitions/CreateAssessment'
      responses:
        200:
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/CreateAssessmentResponse'
        400:
          description: invalid input
        500:
          description: encounted an error
      security:
      - x_api_key: []
securityDefinitions:
  x_api_key:
    type: apiKey
    name: X-API-Key
    in: header
definitions:
  CreateAssessment:
    type: object
    required: 
      - teamID
      - appID
      - assessmentName
      - assessmentOwner
      - data
    properties:
      teamID:
        type: integer
        example: 10
      appID:
        type: integer
        example: 20
      assessmentOwner:
        type: string
        example: user@checkbox.ai
      assessmentName:
        type: string
        example: assessment for user
      data:
        type: object
        example: { 'TXT1': 'Hello', 'DATE1' : '2023-08-08T09:12:33.001Z' }
  CreateAssessmentResponse:
    type: object
    required: 
      - reqId
      - id
      - url
      - error
      - isDeprecated
    properties:
      reqId:
        type: string
        example: "a43b22a3-c7ea-425b-a9cc-8e6977dac7b8"
      id:
        type: string
        example: "f7436cba-f15b-4c77-8608-748156f70003"
      url:
        type: string
        example: https://app.checkbox.ai/app/team/1/app/2/assessment/1337,
      error:
        type: string
        example: assessment name already exists
      isDeprecated:
        type: boolean
        example: false
